server:
  port: ${GATEWAY_SERVER_PORT}

spring:
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: main-route
              uri: ${MAIN_SERVICE_URI}
              predicates:
                - Path=/main/**
              filters:
                - StripPrefix=1
