<?xml version="1.0" encoding="UTF-8"?>
<!-- 60초마다 설정 파일의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="logback-appenders.xml"/>

    <springProfile name="!local">
        <springProfile name="dev">
            <logger name="com.kt.onrace" level="INFO"/>
            <root level="WARN">
                <appender-ref ref="JSON_CONSOLE"/>
                <appender-ref ref="JSON_FILE"/>
            </root>
        </springProfile>
        <springProfile name="prod">
            <logger name="com.kt.onrace" level="WARN"/>
            <root level="WARN">
                <appender-ref ref="JSON_CONSOLE"/>
                <appender-ref ref="JSON_FILE"/>
            </root>
        </springProfile>
    </springProfile>

    <springProfile name="local">
        <logger name="com.kt.onrace" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>